.CarouselHome {
    height: 200px !important;
    margin-bottom: 24px;
//     @media screen and (min-width: 600px) {
//         height: 230px !important;
//     }
    @media screen and (min-width: 992px) {
        height: 300px !important;
    }
}
.CarouselHome a.carousel-item {
    min-height: inherit!important;
    height: 200px!important;
    @media screen and (min-width: 992px) {
        // top: -50px!important;
        height: 300px!important;
    }
//     @media screen and (min-width: 600px) {
//         min-height: inherit;
//     }
}
// .Carousel-item img {
//     height: 100%;
//     border-radius: 50px;
//     padding: 20px;
//     min-height: 200px;
// }
.CarouselHome picture img {
    width: 100%;
    height: 100%;
}
.CarouselHome ul.indicators li {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
}