.CarouselProducts {
  margin-block-end: 24px;
  height: 420px;
}
.CarouselProducts .carousel-item {
  height: 300px;
}
.CarouselProducts .card-title {
  font-size: 16px;
  color: black;
  overflow: hidden;
  white-space: nowrap;
}
.CarouselProducts .card .card-content {
  position:absolute;
  bottom: 0;
  width: 200px;
}
.CarouselProducts .card .card-image {
  padding-top: 30px;
}
.CarouselProducts .card .card-image img {
  width: auto;
  height: 150px;
  left: 50%;
  transform: translateX(-50%);
}