.HeaderParcial {
    // margin-bottom: 18px;
    position: absolute;
    top: 0;
    height: 30%;
    width: 100%;
}

.HeaderParcial .container {
    height: 60px;
    display: flex;
    align-items: center;
}
