.ProductImageGalery {
  height: 300px;
  margin-bottom: 14px;
}
.ProductImageGalery a.carousel-item {
  width: auto;
    top: 50px;
    height: 300px!important;
    min-height: 100px !important;
}
.ProductImageGalery .carousel-item img {
  width: auto;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
