.CarouselHome {
    height: calc(100vw / 2.19)!important;
    @media screen and (min-width: 600px) {
        height: calc(100vw / 4.7)!important;
    }
}
.CarouselHome a.carousel-item {
    min-height: inherit !important;
}
.CarouselHome picture img {
    width: 100%;
    height: auto;
}
.CarouselHome ul.indicators li {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
}